@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  width: 100%;
}

header {
  width: 100%;
  height: 75px;
  background-color: #FDDAF4;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 16px;
}
header .header-wrap {
  display: flex;
  margin: 0 25px;
}
header .header-wrap p {
  font-family: "PingFang TC";
  font-size: 10px;
  letter-spacing: 0;
  line-height: 14px;
  font-weight: normal;
  color: #707070;
  margin: 7px 7px 0 7px;
}
header .header-wrap .header-right {
  width: 228px;
  height: 63px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #F7D9D9;
  margin-top: 5px;
  margin-left: auto;
  text-align: left;
}
header .header-wrap .header-right h2 {
  font-family: "PingFang TC";
  font-size: 8px;
  letter-spacing: 0;
  line-height: 11px;
  font-weight: normal;
  color: #707070;
  margin: 5px 0 0 7px;
}

#contents {
  width: 100%;
  margin-bottom: 9px;
  text-align: center;
}
#contents .touroku {
  width: 100%;
  height: auto;
  margin: 8px 0;
  text-align: center;
}
#contents .touroku .a-background {
  width: 80%;
  height: 31px;
  background-color: #FDDAF4;
  border-radius: 3px;
  box-shadow: 3px 3px 0 0 rgba(165, 111, 219, 0.16);
  cursor: pointer;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 18px;
}
#contents .touroku .a-background:active {
  box-shadow: none;
  margin-top: 3px;
  margin-bottom: 15px;
  margin-left: 28px;
}
#contents .touroku .a-background p {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 23px;
  font-weight: normal;
  color: #707070;
  display: inline-block;
  margin-top: 4.5px;
}
#contents .touroku h2 {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 14px;
  font-weight: normal;
  color: #707070;
  display: inline-block;
  width: 80%;
}
#contents .manual-background {
  width: 100%;
}
#contents .manual-background .manual {
  width: 80%;
  height: 64px;
  background-color: #DEEAFF;
  border-radius: 10px;
  box-shadow: 3px 3px 0 0 rgba(165, 111, 219, 0.16);
  display: inline-block;
  margin: 8px 25px;
  cursor: pointer;
  text-align: center;
}
#contents .manual-background .manual:active {
  box-shadow: none;
  margin-top: 11px;
  margin-left: 28px;
  margin-bottom: 5px;
}
#contents .manual-background .manual h1 {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 23px;
  font-weight: normal;
  color: #707070;
  display: inline-block;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
}
#contents .manual-background .manual p {
  width: 141px;
  height: 20px;
  background-color: none;
  border-radius: 0;
  box-shadow: none;
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 7px;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: normal;
  color: #707070;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  height: 27px;
  background-color: #707070;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}
footer p {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  padding-top: 4.5px;
}

#beginner .question-wrap {
  margin: 16px 17px;
}
#beginner .question-wrap .question {
  margin: 25px 0;
}
#beginner .question-wrap .question h1 {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 35px;
  font-weight: 300;
  color: #707070;
  margin: 13px 0;
}
#beginner .question-wrap .question h2 {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 14px;
  font-weight: 300;
  color: #707070;
}
#beginner .question-wrap .question img {
  width: 80%;
  height: auto;
}
#beginner .last-wrap {
  background-color: #FDDAF4;
}
#beginner .last-wrap .last {
  padding: 10px 17px;
}
#beginner .last-wrap .last h1 {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 17px;
  font-weight: 300;
  color: #707070;
  margin: 13px 0;
}
#beginner .last-wrap .last h2 {
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro" "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", sans-serif;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 14px;
  font-weight: 300;
  color: #707070;
}

/*# sourceMappingURL=stylesheet.css.map */
